.box3{
  border: 10px solid #2F2F2F;
  transition: all .3s;
  &:hover{
    transform: scale(1.05);
    border-color: #FFFFFF;
  }
}
//======================================
.box4{
  background: linear-gradient(358.8deg, rgba(0, 0, 0, 0.72) 2.98%, rgba(0, 0, 0, 0) 93.85%);
  .name{
    color: #FFFFFF;
    font-size: 15px;
    font-family: $font-NunitoSans-Black;
  }
  .author{
    font-family: $font-NunitoSans-Regular;
  }
}
//======================================
.box_img{
  img{

  }
  .uk-container-expand-right &{
    text-align: left;
  }
  .uk-container-expand-left &{
    text-align: right;
  }
}
//======================================
.box5{
  padding: 30px 80px !important;
  .uk-container-expand-right &{
    padding-left: 0 !important;
  }
  .uk-container-expand-left &{
    padding-right: 0 !important;
  }
  .title{
    @extend .fz1;
    font-family: $font-NunitoSans-Bold;
  }
  .desc{
    font-family: $font-NunitoSans-Regular;
    font-size: 14px;
  }
}