body{
  font-size: 13px;
  background: rgb(48, 47, 45);
  font-family: $font-OpenSans-Regular;
}
//======================================
.img_icon{
  background-color: #252524;
  width: calc(75px - 30px);
  height: calc(75px - 30px);
}
//======================================
.section_1{
  min-height: 351px;
  @media (min-width: 960px) {
    padding: 30px 0;
  }
}
//======================================
.bg_txt_2{
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
  line-height: 100%;
  @media (min-height: 960px) {
    font-size: 1.15rem;
  }
}
//======================================
.bg_txt_1{
  @media (min-height: 960px) {
    font-size: 1.9rem;
  }
  background-color: #000000;
  color: #ffffff;
  font-family: $font-NunitoSans-ExtraBold;
  padding: 5px 10px;
  line-height: 100%;
}
//======================================
.support_1{
  min-height: calc(409px - 40px);
  @media (max-width: 960px) {
    background-size: cover !important;
  }
  .desc{
    color: #333333;
    span{
      color: #000;
      font-family: $font-OpenSans-Bold;
      font-size: 14px;
    }
  }
  .title{
    font-family: $font-NunitoSans-ExtraBold;
    color: #000;
    @media (min-width: 960px) {
      font-size: 2rem;
    }
  }
  .phone_call{
    &:not(:hover){
      background-color: #E8505B;
      border-color: #E8505B;
    }
    font-family: $font-NunitoSans-Bold;
    font-size: 18px;
    text-decoration: underline;
  }
  .dky{
    font-size: 13px;
    font-family: $font-NunitoSans-ExtraBold;
  }
}