$font-Arial-Regular: 'Arial Regular',sans-serif;
//======================================
$font-OpenSans-Regular: 'Open Sans Regular',sans-serif;
$font-OpenSans-Bold: 'Open Sans Bold',sans-serif;
$font-OpenSans-BoldItalic: 'Open Sans Bold Italic',sans-serif;
$font-OpenSans-Italic: 'Open Sans Italic',sans-serif;
//======================================
$font-NunitoSans-ExtraBold: 'Nunito Sans ExtraBold',sans-serif;
$font-NunitoSans-Bold: 'Nunito Sans Bold',sans-serif;
$font-NunitoSans-Regular: 'Nunito Sans Regular',sans-serif;