$font-Arial-Regular: 'Arial Regular',sans-serif;
//======================================
$font-OpenSans-Regular: 'Open Sans Regular',sans-serif;
$font-OpenSans-Bold: 'Open Sans Bold',sans-serif;
$font-OpenSans-BoldItalic: 'Open Sans Bold Italic',sans-serif;
$font-OpenSans-Italic: 'Open Sans Italic',sans-serif;
//======================================
$font-NunitoSans-SemiBold: 'Nunito Sans SemiBold',sans-serif;
$font-NunitoSans-ExtraBold: 'Nunito Sans ExtraBold',sans-serif;
$font-NunitoSans-Bold: 'Nunito Sans Bold',sans-serif;
$font-NunitoSans-Regular: 'Nunito Sans Regular',sans-serif;
$font-NunitoSans-BoldItalic: 'Nunito Sans Bold Italic',sans-serif;
$font-NunitoSans-Italic: 'Nunito Sans Italic',sans-serif;
$font-NunitoSans-Black: 'Nunito Sans Black',sans-serif;