/*====================[OpenSans]====================*/
@font-face{
  font-family:'Open Sans Regular';
  font-display: auto;
  src:local('Open Sans Regular'), url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Open Sans Bold';
  font-display: auto;
  src:local('Open Sans Bold'), url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Open Sans Bold Italic';
  font-display: auto;
  src:local('Open Sans Bold Italic'), url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Open Sans Italic';
  font-display: auto;
  src:local('Open Sans Italic'), url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[NunitoSans]====================*/
@font-face{
  font-family:'Nunito Sans SemiBold';
  font-display: auto;
  src:local('Nunito Sans SemiBold'), url('../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Nunito Sans ExtraBold';
  font-display: auto;
  src:local('Nunito Sans ExtraBold'), url('../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Nunito Sans Bold';
  font-display: auto;
  src:local('Nunito Sans Bold'), url('../fonts/Nunito_Sans/NunitoSans-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Nunito Sans Regular';
  font-display: auto;
  src:local('Nunito Sans Regular'), url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Nunito Sans Bold Italic';
  font-display: auto;
  src:local('Nunito Sans Bold Italic'), url('../fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Nunito Sans Italic';
  font-display: auto;
  src:local('Nunito Sans Italic'), url('../fonts/Nunito_Sans/NunitoSans-Italic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Nunito Sans Black';
  font-display: auto;
  src:local('Nunito Sans Black'), url('../fonts/Nunito_Sans/NunitoSans-Black.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}